<footer style="background-color: #1e1e1e; margin-top: 50px; padding: 10px 0px">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 col-sm-12 center-mobile">
        <h4 class="text-white pb-2">Contact Info</h4>
        <p class="smoketext">Phone: +994518858878</p>
        <p class="smoketext">Email: mirzayevkamal@gmail.com</p>
        <p class="smoketext">Address: G.Garayev 81B</p>
      </div>
      <div class="col-lg-2 col-sm-12 center-mobile">
        <h4 class="text-white pb-2 ">Company</h4>
        <ul style="list-style: none" class="p-0 m-0 mb-4 ">
          <li>
            <a class="smoketext" href="#">About us</a>
          </li>
          <li>
            <a class="smoketext" href="#">Privacy Policy</a>
          </li>
          <li>
            <a class="smoketext" href="#">Shipping</a>
          </li>
          <li>
            <a class="smoketext" href="#">F.A.Q</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-12 text-center">
            <h4 class="text-white">Follow Us</h4>
            <ul style="list-style: none" class="p-0 m-0 pb-2">
              <li>
                <a href="#" class="smoketext">facebook</a>
              </li>
              <li>
                <a href="#" class="smoketext">instagram</a>
              </li>
              <li>
                <a href="#" class="smoketext">linkedin</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-12 mb-3">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/images/logo.png" width="50px" />
              <h5 class="text-white pt-1 m-0">KAMON</h5>
              <p class="smoketext pt-2 m-0 text-center">
                We don't just sell products, we sell emotions with them.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider class="py-2"></mat-divider>
    <div class="row">
      <div class="col-lg-6 text-left center-mobile">
        <p class="smoketext">&#169; All rights reserved. Kamon online shop.</p>
      </div>
      <div class="col-lg-6 text-right center-mobile">
        <img
          style="filter: grayscale(1)"
          src="assets/images/payments.png"
          width="250px"
        />
      </div>
    </div>
  </div>
</footer>
