<app-breadcrumb
  [breadcrumb]="'ABOUT'"
  [breadcrumbLink]="'/about'"
></app-breadcrumb>
<div class="container">
  <div class="text-center py-4">
    <h1>About KAMON online shop</h1>
  </div>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem labore
    nihil, necessitatibus libero qui maxime repellendus dignissimos magni
    voluptate vel vero. Non quaerat cum eum omnis inventore vel velit vero, eos,
    quasi doloribus esse. Consectetur doloribus iure quo ratione explicabo
    mollitia hic optio beatae esse numquam recusandae praesentium illum, aliquam
    ipsa veritatis ea sint reprehenderit tenetur aliquid vitae quis maxime?
    Asperiores modi quidem ipsa? Totam soluta et, temporibus labore alias neque
    dicta. Excepturi sit laboriosam amet repellendus, ducimus aut in aspernatur
    molestias ea dolor suscipit nesciunt, quo debitis rerum aperiam totam.
    Voluptate ipsum placeat sapiente accusantium! Impedit consectetur saepe odio
    vitae necessitatibus. Magnam exercitationem, qui officia, quia deserunt
    consectetur neque recusandae excepturi, sunt possimus illum id minus.
    Molestias, nisi id.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quae,
    earum quibusdam soluta voluptate explicabo non labore aliquam quia impedit
    repellendus repellat eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum harum,
    voluptate obcaecati incidunt magnam iure esse ratione quasi! Odio unde
    repudiandae nulla dolorum. Aliquid iusto vitae qui quasi, adipisci, nemo sit
    eum iure dolorum blanditiis harum labore! Repellendus, dolores officiis?
    Dignissimos nulla dolor cumque reprehenderit?
  </p>
</div>
